<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InMotionGIT.Common" version="1.0.9" targetFramework="net45" />
  <package id="InMotionGIT.Common.Contracts" version="1.0.1" targetFramework="net40" />
  <package id="InMotionGIT.Common.Proxy" version="1.0.5" targetFramework="net45" />
  <package id="InMotionGIT.PolicyManager.Proxy" version="2.0.0" targetFramework="net45" />
  <package id="InMotionGIT.Product.Proxy" version="2.0.0" targetFramework="net45" />
</packages>