<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Se intent&oacute; restablecer la contrase&ntilde;a</title>
</head>
<body>
    <p>
        Hola @@FirstName@@:
        <br>
        <br>Se intent&oacute; restablecer la contrase&ntilde;a a las @@Date@@ de la cuenta:@@Email@@, desde la IP <font color="red">@@IP@@</font>, de no conocer dicha actividad, por favor contate su aministrador de sistema.<br>
        <br>
        Es un placer servirle.
    </p>
	<div>
		<img  src="@@WEBAPPLICATION@@/images/emailtrack.png?id=@@JOBID@@" width="1" height="1" border="0" alt="" />
	</div>
</body>
</html>
