<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
	<p>
        Hola @@FirstName@@ @@LastName@@ / usuario: @@RealUserName@@
        <br />
        <br />Su actual contraseña para el sistema es: @@Password@@<br/>
        <br />
        Gracias por usar nuestro sitio WEB
    </p>
	<div>
		<img class="fix" src="@@WEBAPPLICATION@@/images/emailtrack.png?id=@@JOBID@@" width="1" height="1" border="0" alt="" />
	</div>
</body>
</html>

