Bienvenid@ @@FirstName@@ @@LastName@@ / usuario: @@RealUserName@@
        <br>
        <br>
        Est&aacute; es su contrase&ntilde;a para ingresar al sistema: @@Password@@.
        <br>
        <br>
        Su pregunta secreta es: '@@securityQuestion@@' y tu respuesta secreta es: '@@securityAnswer@@'
        <br>
        <br>
        Gracias por utilizar nuestro sitio web.
          <br>
        <br>
        Saludos
		<div>
			<img class="fix" src="@@WEBAPPLICATION@@/images/emailtrack.png?id=@@JOBID@@" width="1" height="1" border="0" alt="" />
		</div>