.treeViewTopMenu {
    padding-left: 0;    
    margin-left: 5px;
    list-style: none;
}

.treeViewTopMenu li {
    display: inline-block;
    margin-right: 10px;
}

.treeViewTopMenu li a {
    color: #676c6f;
    font-size: 14px;
    font-weight: 600;    
}

.tabs-container .panel-body {
    background-color: #f1eded !important;
}

.tabs-container .nav-tabs > li.active > a, 
.tabs-container .nav-tabs > li.active > a:hover, 
.tabs-container .nav-tabs > li.active > a:focus {
    background-color: #f1eded !important;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    color: #767272 !important;
}

.green-bg {
    background-color: #23c6c8;
}

.yellow-bg {
    background-color: #f8ac59;
}

.red-bg {
    background-color: #ed5565;
}