
.ui-jqgrid .form-control{
  height: 80%;
  width: auto;
  display: inline;
  padding: 3px 12px;
}

.ui-jqgrid .ui-pg-button:hover{
    padding: 0px 7px;
}

#editmodgrid-requirement .modal-dialog {
    width: 80% !important;
}

#editmodgrid-requirement select.FormElement {
    padding: .3em;
    margin-bottom: 3px;
    height: auto;
    width: 100%;
}