<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="EntityServices2"    connectionString="Data Source=TIME;User ID=INSUDB;Password=VTIME2012;Min Pool Size=20;Max Pool Size=50;Connection Lifetime=120;Incr Pool Size=3;Decr Pool Size=1;Connection Timeout=5" providerName="Oracle.DataAccess.Client" />  System.Data.OracleClient-->
    <!--<add name="EntityServices"    connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=201.199.134.117)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=TIME)));User Id=INSUDB;Password=INSUDB;Min Pool Size=5;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=5;Decr Pool Size=2;" providerName="Oracle.DataAccess.Client" />-->
    <add name="EntityServices" connectionString="Data Source=TIME;User ID=INSUDB;Password=INSUDB;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client"/>
    <add name="BackOfficeConnectionString" connectionString="Data Source=TIME;User ID=INSUDB;Password=INSUDB;Min Pool Size=20;Max Pool Size=50" providerName="Oracle.DataAccess.Client"/>

    <add name="EntityServices1" connectionString="Data Source=AMAZON.DEMO;User ID=INSUDB;Password=INSUDB;Min Pool Size=20;Max Pool Size=50" providerName="Oracle.DataAccess.Client"/>

    <add name="WorkflowTrackingAndPersistence" connectionString="Data Source=181.193.37.28;Initial Catalog=ccs76FrontOffice;User ID=vtapps;Password=vtapps;pooling=true; Asynchronous Processing=true" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="EntityServices.DateFormat" value="dd/MM/yyyy"/>

    <!-- None, OnDemand, FullCaching Create/Load-->

    <add key="Product.Rating.Cache.Mode" value="FullCaching"/>
    <add key="Cache.Mode" value="None/None"/>
    <add key="Path.Cache" value="C:\VisualTIMENet\temp\Cache"/>
    <add key="Path.Extensions" value="C:\VisualTIMENet\Extensions"/>
    <add key="Working.Mode" value="Development"/>

    <add key="GeneratePath" value="C:\VisualTIMENet\WebApplication\generated"/>

    <add key="AuditUserIdentify" value="9998"/>

    <!--<add key="Path.Logs" value="C:\temp" />-->
    <add key="Path.Logs" value="C:\VisualTIMENet\Temp\logs"/>

    <add key="Track.Mode" value=",Billing.Calculate,Policy.CoverageRating,"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicBinding"/>
        <binding name="BasicEndPoint"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://181.193.37.29:8082/Underwriting/UnderwritingManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="underwriting.IUnderwritingManager" name="BasicHttpBinding_IUnderwritingManager"/>
      <endpoint address="http://192.168.0.76:8082/BackOffice/ProductManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="ProductManager.IProductManager" name="BasicHttpBinding_IProductManager"/>
      <endpoint address="http://localhost:8082/Reports/CrystalReportManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicEndPoint" contract="Report.Service.IManager" name="BasicEndPoint"/>
    </client>
  </system.serviceModel>
</configuration>
