<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InMotionGIT.Claim.Proxy" version="3.0.38" targetFramework="net472" />
  <package id="InMotionGIT.Client.Proxy" version="3.0.38" targetFramework="net472" />
  <package id="InMotionGIT.Common" version="1.0.23" targetFramework="net472" />
  <package id="InMotionGIT.Common.Contracts" version="1.0.1" targetFramework="net40" />
  <package id="InMotionGIT.Common.Proxy" version="1.0.22" targetFramework="net472" />
  <package id="InMotionGIT.General.Proxy" version="3.0.38" targetFramework="net472" />
</packages>