<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Path.Extensions" value="C:\VisualTIMENet\Extensions" />
    <add key="Path.STS.Request" value="https://54.144.154.238:44333/core/connect/token" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral" />
        <bindingRedirect oldVersion="2.122.1.0" newVersion="4.122.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="Workflows" connectionString="Data Source=TIME;User ID=FRONTOFFICE;Password=frontoffice;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
    <add name="BackOfficeConnectionString" connectionString="Data Source=MEX-AFIRME;User ID=INSUDB;Password=INSUDB;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
    <add name="ReportClaim" connectionString="Data Source=MEX-AFIRME;User ID=ReportClaim;Password=REPORTCLAIM;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
    <add name="EntityServices" connectionString="Data Source=MEX-AFIRME;User ID=vtapps;Password=vtapps;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;Connection Timeout=60" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <system.diagnostics>
      <sources>
          <!-- This section defines the logging configuration for My.Application.Log -->
          <source name="DefaultSource" switchName="DefaultSwitch">
              <listeners>
                  <add name="FileLog" />
                  <!-- Uncomment the below section to write to the Application Event Log -->
                  <!--<add name="EventLog"/>-->
              </listeners>
          </source>
      </sources>
      <switches>
          <add name="DefaultSwitch" value="Information" />
      </switches>
      <sharedListeners>
          <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
          <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
          <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
      </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="BasicHttpBinding_ICrystalReportManager" />
              <binding name="BasicBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
                <security mode="None">
                  <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                  <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
              </binding>
          </basicHttpBinding>
        <wsHttpBinding>
          <binding name="BasicEndPoint" maxReceivedMessageSize="2147483647">
            <security mode="Transport">
              <transport clientCredentialType="None" />
            </security>
          </binding>
          <!--Binding seguro-->
          <binding name="wsHttpEndpointBinding" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
            <security mode="Transport">
              <transport clientCredentialType="None" />
            </security>
          </binding>
          <binding name="WSHttpBinding_IPublic" />
        </wsHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://40.117.79.124:8082/Reports/CrystalReportManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="ReportManager.ICrystalReportManager" name="BasicBinding" />
        <endpoint address="http://34.233.187.230:8082/Underwriting/UnderwritingManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="underwriting.IUnderwritingManager" name="BasicHttpBinding_IUnderwritingManager" />
        <endpoint address="http://34.233.187.230:8082/BackOffice/RiskManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="Client.IRiskManager" name="BasicHttpBinding_IRiskManager" />
        <endpoint address="http://34.233.187.230:8082/BackOffice/SecurityManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SecurityManager.ISecurityManager" name="BasicHttpBinding_ISecurityManager" />
        <endpoint address="http://34.233.187.230:8082/BackOffice/AddressManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="AddressManager.IAddressManager" name="BasicHttpBinding_IAddressManager" />
        <endpoint address="http://40.117.79.124:8082/BackOffice/GeneralManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="GeneralManager.IGeneralManager" name="BasicHttpBinding_IGeneralManager" />
        <endpoint address="http://34.233.187.230:8082/BackOffice/PhoneManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="PhoneManager.IPhoneManager" name="BasicBinding" />
        <endpoint address="http://34.233.187.230:8082/BackOffice/ImageManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="ImageManager.IImageManager" name="BasicHttpBinding_IImageManager" />
        <endpoint address="http://34.233.187.230:8082/BackOffice/ErrorManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="ErrorManager.IErrorManager" name="BasicHttpBinding_IErrorManager" />
        <endpoint address="http://34.233.187.230:8082/BackOffice/NoteManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="NoteManager.INoteManager" name="BasicHttpBinding_INoteManager" />
        <endpoint address="http://34.233.187.230:8082/BackOffice/ServiceOrderManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="ServiceOrderManager.IServiceOrderManager" name="BasicHttpBinding_IServiceOrderManager" />
        <endpoint address="http://34.233.187.230:8082/BackOffice/ClaimManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="Client.IClaimManager" name="BasicHttpBinding_IClaimManager" />
        <endpoint address="http://34.233.187.230:8082/BackOffice/ClientManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="Client.IClientManager" name="BasicHttpBinding_IClientManager" />
        <endpoint address="http://34.233.187.230:8082/BackOffice/ProductManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="ProductManager.IProductManager" name="BasicHttpBinding_IProductManager" />
      </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
