BODY
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Tahoma;
    BACKGROUND-COLOR: #fffaf0
}
H2
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: Verdana, Tahoma
}
HR
{
    COLOR: navy
}
LABEL
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: Verdana, Tahoma
}
INPUT
{
    BORDER-RIGHT: 1px groove;
    BORDER-TOP: 1px groove;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1px groove;
    COLOR: black;
    BORDER-BOTTOM: 1px groove;
    FONT-FAMILY: Verdana, Tahoma
}
OPTION
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Tahoma
}
TEXTAREA
{
    BORDER-RIGHT: thin groove;
    BORDER-TOP: thin groove;
    FONT-SIZE: 10pt;
    BORDER-LEFT: thin groove;
    COLOR: black;
    BORDER-BOTTOM: thin groove;
    FONT-FAMILY: Verdana, Tahoma
}
BODY.sequence
{
    BACKGROUND: url(/VTimeNet/Images/frameSequence.jpg) #0080b1 no-repeat
}
TD.folderSeq
{
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Tahoma
}
A.linkSeq
{
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Tahoma;
    TEXT-DECORATION: none
}
A.linkSeq:hover
{
    BACKGROUND-COLOR: #0091dd
}
.grdData
{
    BORDER-RIGHT: silver groove;
    BORDER-TOP: silver groove;
    FONT-SIZE: 8pt;
    BORDER-LEFT: silver groove;
    BORDER-BOTTOM: silver groove
}
.grdData TH
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: gray thin solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray thin solid;
    COLOR: darkblue;
    BORDER-BOTTOM: gray thin solid;
    FONT-FAMILY: Arial, Verdana, Tahoma;
    BACKGROUND-COLOR: lavender
}
.grdData TD
{
    BORDER-RIGHT: silver thin solid;
    BORDER-TOP: silver thin solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: silver thin solid;
    COLOR: navy;
    BORDER-BOTTOM: silver thin solid;
    FONT-FAMILY: Arial, Verdana, Tahoma;
    BACKGROUND-COLOR: lightcyan
}
.HighLighted
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: navy;
    TEXT-ALIGN: right
}
.Button
{
}
.Button INPUT
{
    BORDER-RIGHT: thin outset;
    BORDER-TOP: thin outset;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    BORDER-LEFT: thin outset;
    COLOR: navy;
    BORDER-BOTTOM: thin outset;
    FONT-FAMILY: Verdana, Tahoma;
    BACKGROUND-COLOR: #0080b1
}
.HighLighted LABEL
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: Verdana, Tahoma;
    TEXT-ALIGN: right
}
.Collapsed
{
    DISPLAY: none
}
.Expandable
{
    CURSOR: hand
}
.Calendar
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Tahoma
}
.Calendar TH
{
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Tahoma;
    BACKGROUND-COLOR: navy
}
.Calendar A:visited
{
    COLOR: mediumslateblue;
    FONT-FAMILY: Verdana, Tahoma;
    TEXT-DECORATION: none
}
.Calendar A:link
{
    COLOR: mediumslateblue;
    FONT-FAMILY: Verdana, Tahoma;
    TEXT-DECORATION: none
}
.Calendar A:active
{
    COLOR: sandybrown;
    TEXT-DECORATION: none
}
.grdData TH LABEL
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: blue;
    BACKGROUND-COLOR: white
}
.Values
{
}
.Values TABLE
{
    BORDER-RIGHT: outset;
    BORDER-TOP: outset;
    BORDER-LEFT: outset;
    COLOR: white;
    BORDER-BOTTOM: outset
}
.Values TABLE TH
{
    COLOR: white;
    BACKGROUND-COLOR: navy
}
.WindowsName
{
    FONT-SIZE: 12pt;
    FLOAT: right;
    COLOR: navy;
    FONT-FAMILY: Verdana, Tahoma;
    POSITION: static;
    TEXT-ALIGN: left
}
.Header
{
    BACKGROUND-COLOR: #fffaf0
}
.Field
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Tahoma
}
.grdData TD .field
{
    FONT-SIZE: 7pt;
    COLOR: navy;
    FONT-FAMILY: Arial, Verdana, Tahoma
}
.Header .WindowsName
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    COLOR: white
}
.Tiny
{
    FONT-SIZE: 9pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Tahoma;
    FONT-HEIGHT: bold
}
.POSSVALUE
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, Tahoma
}
.grdData .UNEVEN
{
    BORDER-RIGHT: aqua;
    BORDER-TOP: aqua;
    BORDER-LEFT: aqua;
    BORDER-BOTTOM: aqua;
    BACKGROUND-COLOR: powderblue
}
.grdData .UNEVEN TD
{
    BACKGROUND-COLOR: #b0d7e6
}
.HorLine
{
    BACKGROUND-IMAGE: url(../images/HorLine.gif);
    HEIGHT: 5px
}
.HeightRow
{
    HEIGHT: 8px
}
.TransNode
{
    PADDING-RIGHT: 0%;
    PADDING-LEFT: 0%;
    FONT-SIZE: smaller;
    PADDING-BOTTOM: 0%;
    MARGIN: 0%;
    COLOR: navy;
    BORDER-TOP-STYLE: none;
    PADDING-TOP: 0%;
    FONT-FAMILY: Verdana, Tahoma;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    TEXT-DECORATION: none;
    BORDER-BOTTOM-STYLE: none
}
.ThinNode
{
    PADDING-RIGHT: 0%;
    PADDING-LEFT: 0%;
    PADDING-BOTTOM: 0%;
    MARGIN: 0%;
    WIDTH: 16px;
    BORDER-TOP-STYLE: none;
    PADDING-TOP: 0%;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    HEIGHT: 22px;
    TEXT-DECORATION: none;
    BORDER-BOTTOM-STYLE: none
}
.WideNode
{
    PADDING-RIGHT: 0%;
    PADDING-LEFT: 0%;
    PADDING-BOTTOM: 0%;
    MARGIN: 0%;
    WIDTH: 24px;
    BORDER-TOP-STYLE: none;
    PADDING-TOP: 0%;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    HEIGHT: 22px;
    TEXT-DECORATION: none;
    BORDER-BOTTOM-STYLE: none
}
.Calendar TD.Hollidays
{
    FONT-SIZE: 10pt
}
BODY.module
{
    BACKGROUND: url(/vtimeNet/images/framemodules.jpg) #0080b1 fixed no-repeat
}
H1.SaltodePagina
{
    PAGE-BREAK-AFTER: always
}
H5
{
    BORDER-RIGHT: cadetblue thick;
    BORDER-TOP: cadetblue thick;
    BORDER-LEFT: cadetblue thick;
    BORDER-BOTTOM: cadetblue thick;
    BACKGROUND-COLOR: lightseagreen
}
