<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ControladoresPath" value="D:\VisualTIMENet\Services\ConexionDNE\Controladores" />   
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--STS-->
    <add key="STS.Enable" value="True"/>
    <add key="STS.Customer.Id" value="InMotion"/>
    <!--Must be changed in production-->
    <add key="STS.Customer.Secret" value="CDAA4489-64E4-4653-AF5D-0964CA4BA800"/>
    <!--Must be changed in production-->
    <add key="STS.Customer.Id.WF" value="InMotionWFInvoker"/>
    <add key="STS.Customer.Secret.WF" value="BCEBF65F-2BC8-4AB8-B0D0-8247A5DA9983"/>
    <add key="STS.DefaultRoleId" value="2"/>
    <!--Cliente-->
    <add key="STS.URL" value="https://54.226.252.216:44333"/>
    <add key="STS.CompanyId" value="1"/>
    <add key="STS.ConsumerId" value="1"/>
    <!-- Logs -->
    <add key="FrontOffice.Debug" value="True" />
    <add key="Path.Logs" value="D:\VisualTIMENet\Temp\logs" />
    <!--Content Management Sura's Token-->
    <add key="SurasCMToken" value="gWJJK7qGMOJoXGjK9bFw0n4gXVrUOad5eo4XVjbwqJU=" />
    <add key="Logs.Prefix" value="ConexionDNE" />
    <add key="API.SecurityUsers.URL" value="https://54.226.252.216:8085/SecurityUsers" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
      	<binding name="BasicHttpBinding_IServicioDNE" allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
		  <!-- HTTP -->
		  <!--<security mode="None" />-->
		  <!-- HTTPS -->
		  <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="basicBinding" allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="BasicBinding_https" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
		  <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
	  </basicHttpBinding>
      <webHttpBinding>
        <binding name="corsBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
        <!-- HTTP -->
        <!--<security mode="None" />-->
		<!-- HTTPS -->
		  <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://54.226.252.216:8085/DNE/General/ServicioDNE.svc/bs" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioDNE" contract="ServicioDNE.IServicioDNE" name="BasicHttpBinding_IServicioDNE" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="corsBehavior">
          <!-- Para colocar los servicios de tipo REST con preflight calls, descomentar la siguiente línea -->
          <!-- Adicional colocar el METHOD de la interfaz en "POST" -->
          <webHttp helpEnabled="true" />
          <!-- Para que los cliente puedan hacer llamadas tipo JSONP desactivar la siguiente casilla -->
          <!-- Adicional colocar el METHOD de la interfaz en "GET" -->
          <!--<enableWebScript/>-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="corsBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--Para usar el STS, se debe descomentar la siguiente sección-->
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="InMotionGIT.SecurityHandler.AuthorizationManager, InMotionGIT.Salientes.Servicio" />
        </behavior>
	<!-- 	<behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>  -->
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>  
    	<service behaviorConfiguration="corsBehavior" name="InMotionGIT.Salientes.Servicio.General.DNEConnectionService">
        	<endpoint address="bs" binding="basicHttpBinding" bindingConfiguration="BasicBinding_https" contract="Interfaces.IDNEConnection" />                                                                  
        	<endpoint address="" behaviorConfiguration="corsBehavior" binding="webHttpBinding" bindingConfiguration="corsBinding" contract="Interfaces.IDNEConnection" />
      	</service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
