<b style="font-size: larger; font-weight: bold">Privacy Pledge</b>
<p>
    <i>BMI Financial Group Inc.</i> believes that strong privacy is crucial for the
    ongoing success of the internet as a service, commecial, and entertainment medium.
</p>
<p>
    We pledge that <i>BMI Financial Group Inc.</i> will not release your personal data
    to anyone else without your consent
</p>
<p>
    When we do present information to our advertisers, unless you tell us otherwise,
    it in the form of aggregate statistics compiled among all our visitors' answers
    to survey questions as well as grouped on-site behavior.
</p>
<b style="font-size: larger; font-weight: bold">Document Use</b>
<p>
    The restrictions on the use of <i>BMICOS.COM</i> are fairly relaxed:
</p>
<li>- Information available on <i>BMICOS.COM</i> can be used by anyone.</li>
<li>- Documents on <i>BMICOS.COM</i> can be freely copied and used.</li>
<div>
	<img class="fix" src="@@WEBAPPLICATION@@/images/emailtrack.png?id=@@JOBID@@" width="1" height="1" border="0" alt="" />
</div>