<b style="font-size: larger; font-weight: bold">Compromiso de Privacidad
</b>
                    <p>
                        <i>BMI Financial Group Inc.</i> considera que la privacidad fuerte es crucial para el
                         éxito continuo del Internet como un servicio, comercial y medio de entretenimiento.
                    </p>
                    <p>
                        Nos comprometemos a que <i>BMI Financial Group Inc.</i> no divulgar&aacute; sus datos personales a terceros sin su consentimiento.
                    </p>
                    <p>
                       Cuando hacemos presentar informaci&oacute;n a nuestros anunciantes, a menos que usted nos indique lo contrario, en forma de estad&iacute;sticas globales compiladas entre todas las respuestas de nuestros visitantes a preguntas de la encuesta, as&iacute; como el comportamiento agrupados en el sitio.
                    </p>
<b style="font-size: larger; font-weight: bold">Uso de Documento</b>
                    <p>
                        Las restricciones sobre el uso de <i>BMICOS.COM</i> son bastante relajada:
                    </p>
                    <li>- La informaci&oacute;n disponible sobre <i>BMICOS.COM</i> puede ser utilizado por cualquier persona.</li>
                    <li>- Documentos sobre <i>BMICOS.COM</i> cpuede ser libremente copiado y utilizados.</li>
					<div>
						<img class="fix" src="@@WEBAPPLICATION@@/images/emailtrack.png?id=@@JOBID@@" width="1" height="1" border="0" alt="" />
					</div	
					