<b style="font-size: larger; font-weight: bold">Privacy Commitment</b>
                    <p>
                        It is believed that strong privacy is crucial to the continued success of the Internet as a service, commercial and entertainment medium.
                    </p>                   
                    <p>
                        We promise that <i>the company</i> will not disclose your personal information to third parties without your consent.
                    </p>
                    <p>
                        When we present information to our advertisers, unless you instruct us otherwise in the form of aggregate statistics compiled among all our visitors' responses to survey questions as well as grouped on-site behavior.
                    </p>
                    <b style="font-size: larger; font-weight: bold">Use Document</b>
                    <p>
                       Restrictions on the use of this site is general in nature: 
                    </p>
                    <li>- Available information about <i>the company</i> can be used by anyone.</li>
                    <li>- Documents about <i>the company</i> can be freely copied and used.</li>
					<div>
						<img class="fix" src="@@WEBAPPLICATION@@/images/emailtrack.png?id=@@JOBID@@" width="1" height="1" border="0" alt="" />
					</div>
