<b style="font-size: larger; font-weight: bold">Compromiso de Privacidad</b>
                    <p>
                       Se considera que la privacidad fuerte es crucial para el &eacute;xito continuo del Internet como un servicio, comercial y medio de entretenimiento.                       
                    </p>
                    <p>
                       Nos comprometemos a que <i>la compa&ntilde;&iacute;a</i> no divulgar&aacute; sus datos personales a terceros sin su consentimiento.
                     </p>
                    <p>
                      Cuando hacemos presentar informaci&oacute;n a nuestros anunciantes, a menos que usted nos indique lo contrario, en forma de estadísticas globales compiladas entre todas las respuestas de nuestros visitantes a preguntas de la encuesta, así como el comportamiento agrupados en el sitio. 
                    </p>
<b style="font-size: larger; font-weight: bold">Uso de Documento</b>
                    <p>
                        Las restricciones sobre el uso de esta p&aacute;gina son de car&aacute;cter general:
                    </p>
                    <li>- La información disponible sobre la <i>compañía</i> puede ser utilizado por cualquier persona.</li>
                    <li>- Documentos sobre <i>la compañía</i> puede ser libremente copiado y utilizados.</li>
					<div>
						<img class="fix" src="@@WEBAPPLICATION@@/images/emailtrack.png?id=@@JOBID@@" width="1" height="1" border="0" alt="" />
					</div>
