<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <sectionGroup name="FASIGroup">
      <section name="FASISection" type="InMotionGIT.Core.Configuration.FASIConfiguration" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <FASIGroup>
    <FASISection>
      <Security AdministratorUser="admin" DefaultRole="PortalUser" Mode="Database" EmployeeRole="Empleado" AdministratorRole="Administrador" AnonymousRole="Anonimo" ClientRole="Cliente" ProducerRole="Productor" PasswordStrengthRegularExpression="" MinRequiredPasswordLength="6" MinRequiredNonAlphanumericCharacters="0" PasswordFormat="Encrypted" PasswordAttemptWindow="10" MaxInvalidPasswordAttempts="3" PasswordRotation="True" PasswordExpirationCount="30" RecaptchaEnable="False" UserIsOnlineTimeWindow="15" EnablePasswordRetrieval="True" RequiresQuestionAndAnswer="True" TokenExpirationTime="10" />
      <General UrlHome="" DefaultLanguage="ES" DefaultTheme="HorizontalGreen" />
      <Mail Mode="ExchangeService" Host="west.exch083.serverdata.net" Port="0" SupportMail="OnLineServices@inmotiongit.com" CredentialUserName="OnLineServices@inmotiongit.com" CredentialPassword="n0t1ene!" EnableSSL="False" TemplatesPath="D:\VisualTimeNet\WebApplication\fasi\templates" />
    </FASISection>
  </FASIGroup>
  <appSettings>
	<!-- Clients Options: -->
    <add key="ClientName" value="Oficial" />
    <!--Multi CIA-->
    <add key="BackOffice.IsMultiCompany" value="True" />
    <add key="BackOffice.CompanyDefault" value="1" />
    <add key="Url.WebApplication" value="https://54.226.252.216" />
    <!--FASI API -->
    <add key="API.FASI.Member.URL" value="https://54.226.252.216:8085/FASI/api/Members/v1/" />
    <add key="STS.AuthorityURL" value="https://54.226.252.216:44333/core" />
	  <!--Endpoint para el api de usuarios en esquema de seguridad-->
    <add key="API.SecurityUsers.URL" value="https://54.226.252.216:8085/SecurityUsers" />
    <add key="owin:AutomaticAppStartup" value="True" />
    <add key="DefaultPageLayoutType" value="3" />
    <add key="BackOfficeConfigurationFile" value="D:\VisualTIMENet\Configuration\VisualTIMEConfig.xml" />
    <!--FrontOffice Trace/Log/Errors-->
    <!-- Habilita (True) o no (False) la creación de traza en el código -->
    <add key="FrontOffice.Debug" value="True" />
    <!-- Habilita (True) o no (False) la creación de traza por cual quien acceso a datos por medio de la librería DataAccessLayer -->
    <add key="DataAccessLayer.Debug" value="True" />
    <!-- Habilita (True) o no (False) el hecho que se incluya el detalle del httpcontext en el log del error -->
    <add key="FrontOffice.Debug.Detail" value="False" />
    <!-- Habilita que la traza sea creada en otro hilo de ejecución (MultiThread) o no (Single)  -->
    <add key="FrontOffice.Trace.Mode" value="MultiThread" />
    <!-- Habilita (True) o no (False) la creación una sección donde trata de obtener el los datos del método de llamado -->
    <add key="DataAccessLayer.Debug.DetailsCall" value="True" />
    <!-- Indica si la traza solo se debe hace en disco (File) o si adicionalmente se hará en la base de datos -->
    <add key="FrontOffice.Debug.Mode" value="File" />
    <!-- Prefijo utilizado en los archivos creados para manejo de log de errores, trazas o advertencias. -->
    <add key="Logs.Prefix" value="fasi" />
    <!-- Ruta usada para almacenar los archivo generado por el llamado a traza, error, warnings usando la clase LogHandler -->
    <add key="Path.Logs" value="D:\VisualTIMENet\Temp\logs" />
    <!--End FrontOffice Trace/Log/Errors-->
    <!--STS-->
    <add key="STS.Enable" value="True" />
    <add key="STS.Customer.Id" value="InMotion" />
    <!--Must be changed in production-->
    <add key="STS.Customer.Secret" value="CDAA4489-64E4-4653-AF5D-0964CA4BA800" />
    <!--Must be changed in production-->
    <add key="STS.Customer.Id.WF" value="InMotionWF" />
    <add key="STS.Customer.Secret.WF" value="BCEBF65F-2BC8-4AB8-B0D0-8247A5DA9983" />
    <add key="STS.Customer.Id.Anonymous" value="InMotionAnonymous" />
    <!--Must be changed in production-->
    <add key="STS.Customer.Secret.Anonymous" value="67F0CA42-42CF-4456-9DE9-E93A8B04C8F3" />
    <add key="STS.User.Secret.Anonymous" value="B005FC24-A051-4B7C-8FC2-F18A5i573F1D2" />
    <add key="STS.Key" value="34E4A305-8EFC-40CD-B8E6-3E5F2ABFEFDF" />
    <add key="STS.DefaultRoleId" value="57" />
    <!-- Empleado -->
    <!--Cliente-->
    <add key="STS.URL" value="https://54.226.252.216:44333" />
    <add key="STS.CompanyId" value="1" />
    <add key="STS.ConsumerId" value="1" />
    <!--Indica si se va a usar un certificado válido o uno autofirmado-->
    <add key="STS.UseOfValidCertificate" value="False" />

	
	<add key="DisableSwagger" value="False" />
	<add key="ActivateAgentValidation" value="true" />
	<!-- Clients Options: -->
    <add key="ClientName" value="Oficial" />
  <!-- DELTA 441 OJO ATENCION CAMBIAR A SUFIJO CLIENTE UNICO -->
    <add key="Fasi.Authentification.EmailSuffix" value="@protectasecurity.pe" />
    <add key="Fasi.Authentification.ForceEmailSuffix" value="True" />
  </appSettings>
  <connectionStrings>
    <add name="DiaryEntities" connectionString="metadata=res://*/Model.DiaryModel.csdl|res://*/Model.DiaryModel.ssdl|res://*/Model.DiaryModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=TIME;PASSWORD=Pr0tecDeV;PERSIST SECURITY INFO=True;USER ID=AGENDA&quot;" providerName="System.Data.EntityClient" />
    <add name="FrontOfficeEntities" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=TIME;PASSWORD=Pr0tecDeV;PERSIST SECURITY INFO=True;USER ID=FRONTOFFICE&quot;" providerName="System.Data.EntityClient" />
    <add name="BackOfficeEntities" connectionString="metadata=res://*/Model.BackOfficeModel.csdl|res://*/Model.BackOfficeModel.ssdl|res://*/Model.BackOfficeModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=TIME;PASSWORD=Pr0tecDeV;PERSIST SECURITY INFO=True;USER ID=INSUDB&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="BackOfficeEntities"      connectionString="metadata=res://*/Model.BackOfficeModel.csdl|res://*/Model.BackOfficeModel.ssdl|res://*/Model.BackOfficeModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=TIME;PASSWORD=Pr0tecDeV;PERSIST SECURITY INFO=True;USER ID=INSUDB&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FrontOfficeConnectionString" connectionString="Data Source=TIME;User ID=FRONTOFFICE;PASSWORD=Pr0tecDeV;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;Connection Timeout=120;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <machineKey validationKey="80BA1020F80B8AE07A5E6331DA55255F744607E0CB511BD55A662D90F66A42562E9C17DA3380D5A1864D99BEDC30318F03D60A1A1E2E8E2373794571ABA09339" decryptionKey="868A7C1896B47F412B9A794313CF2DD4E7A04D4BA65D2E33" validation="SHA1" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization, api-version" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-99.0.0.0" newVersion="4.122.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Exchange.WebServices" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <services>
    <!--<service behaviorConfiguration="TransferServiceBehavior" name="InMotionGIT.FrontOffice.Support.Services.FrontOffice">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Transfer" contract="InMotionGIT.FrontOffice.Support.Services.IFrontOffice" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>-->
      <!--Servicio en modo seguro de repository-->
      <service behaviorConfiguration="httpsServiceBehavior" name="InMotionGIT.FrontOffice.Support.Services.FrontOffice">
        <endpoint address="wsHttps" binding="basicHttpBinding" bindingConfiguration="BasicBinding_https" contract="InMotionGIT.FrontOffice.Support.Services.IFrontOffice" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <!--Servicio en modo seguro de repository-->
	  <!--Servicio en modo seguro de repository-->
      <!--<service behaviorConfiguration="httpsServiceBehavior" name="InMotionGIT.FrontOffice.Support.Services.FrontOffice">
        <endpoint address="wsHttps" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpointBinding" contract="InMotionGIT.FrontOffice.Support.Services.IFrontOffice" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service> -->
      <!--Servicio en modo seguro de repository-->
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicBinding" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="9000000" maxBufferPoolSize="9000000" maxReceivedMessageSize="9000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicBindingTranfer" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="9000000" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Transfer" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IPublic" />
        <binding name="BasicHttpBinding_IServicioDNE" allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IDNEConnection" allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
		<binding name="BasicBinding_https" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"  maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
	  </basicHttpBinding>
      <!--Binding de Canal Seguro-->
      <wsHttpBinding>
        <binding name="BasicEndPoint" maxReceivedMessageSize="9000000">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <!--Binding seguro-->
        <binding name="wsHttpEndpointBinding" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="9000000" maxReceivedMessageSize="9000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPublic" />
      </wsHttpBinding>
    </bindings>
    <client>
      <!-- FASI EndPoints -->      
      <!-- <endpoint address="http://54.226.252.216:8082/FrontOffice/DataManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="DataManager.IDataManager" name="BasicHttpBinding_IDataManager" /> -->

      <!-- FASI EndPoints en modo seguro -->
      <endpoint address="https://54.226.252.216:8085/FrontOffice/DataManager.svc/bs" binding="basicHttpBinding" bindingConfiguration="BasicBinding_https" contract="DataManager.IDataManager" name="BasicHttpBinding_IDataManager" /> 
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--Service Behaviors para canal seguro-->
        <behavior name="httpsServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate findValue="54.226.252.216" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My" />
          </serviceCredentials>
        </behavior>
        <behavior name="TransferServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<!-- Fin de confirguracion -->
  <entityFramework codeConfigurationType="InMotionGIT.FASI.DataAccess.Model.MyDbConfiguration, InMotionGIT.FASI.DataAccess">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
	  <!--Este settings define el  path del tiene para el provider de oracle--> 
      <settings>
        <setting name="TNS_ADMIN" value="C:\app\client\adminvt\product\12.2.0\client_1\network\admin" />
      </settings>
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
      <edmMappings>
		<edmNumberMapping>
          <add NETType="bool" MinPrecision="1" MaxPrecision="1" DBType="Number" />
          <add NETType="byte" MinPrecision="2" MaxPrecision="3" DBType="Number" />
          <add NETType="int16" MinPrecision="4" MaxPrecision="4" DBType="Number" />
          <add NETType="int32" MinPrecision="5" MaxPrecision="8" DBType="Number" />
          <add NETType="int64" MinPrecision="9" MaxPrecision="19" DBType="Number" />
        </edmNumberMapping>
      </edmMappings>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
<!--ProjectGuid: F15F2DE8-1024-41FE-862E-FC94F5A40E83-->