H1
{
    FONT-SIZE: 18pt;
    COLOR: purple;
    FONT-FAMILY: 'Comic Sans MS'
}
H2
{
    FONT-SIZE: 12pt;
    COLOR: purple;
    FONT-FAMILY: 'Comic Sans MS'
}
BODY
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: 'Comic Sans MS'
}
HR
{
    COLOR: navy
}
.HighLighted
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: navy;
    TEXT-ALIGN: right
}
LABEL
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: 'MS Sans Serif'
}
.HighLighted LABEL
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: 'MS Sans Serif'
}
.Collapsed
{
    DISPLAY: none
}
BODY
{
    BACKGROUND-COLOR: ivory
}
.WindowsName
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    FLOAT: right;
    COLOR: navy;
    POSITION: static;
    TEXT-ALIGN: left
}
.Header
{
    BACKGROUND-COLOR: ivory
}
.Header .WindowsName
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    COLOR: white
}
UL
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-STYLE: normal;
    FONT-FAMILY: 'Comic Sans MS';
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
LI
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: 'Comic Sans MS';
    TEXT-DECORATION: none
}
H4
{
    FONT-SIZE: 10pt;
    COLOR: purple;
    FONT-FAMILY: 'Comic Sans MS'
}
A:link
{
    FONT-SIZE: 10pt;
    COLOR: purple;
    FONT-FAMILY: 'Comic Sans MS'
}
B
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: 'Comic Sans MS'
}
DT
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: 'Comic Sans MS'
}
DL
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: 'Comic Sans MS'
}
A:active
{
    COLOR: blue;
    FONT-FAMILY: 'Comic Sans MS'
}
TD
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: 'Comic Sans MS'
}
H3
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: 'Comic Sans MS'
}
PLAINTEXT
{
    FONT-SIZE: 10pt;
    COLOR: yellow;
    FONT-FAMILY: 'Comic Sans MS'
}
H6
{
    FONT-SIZE: 12pt;
    COLOR: red;
    FONT-FAMILY: 'Bookman Old Style'
}
A:visited
{
    COLOR: teal;
    FONT-FAMILY: 'Comic Sans MS'
}
