<!-- estilos para tablas -->

.tablabo {
    background-color: #330066;
}
.menu {
    background-image: url(centro.gif);
    color:#02326F;
    FONT-FAMILY: verdana;
    FONT-SIZE: 10 pt;
    FONT-WEIGHT: bold;
    text-decoration:none;
}
.cabecera {
    background-color: #DECA85;
    COLOR: #333333;
    FONT-FAMILY: arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.cabecera1 {
    background-color: #330066;
    COLOR: #CCCCCC;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}
.fila1 {
    background-color: #FFFFCC;
    COLOR: #333333;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt
}
.fila2 {
    background-color: #C8CF94;
    COLOR: #000000;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
}
.fila3 {
    background-color: #FFFFFF;
    COLOR: #000000;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
}

.fila4 {
    background-color: #FFFFFF;
    COLOR: #000000;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
}

.fila5 {
    background-color: #FFCCCC;
    COLOR: #00FFFF;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
}




<!-- estilos para aplicaciones -->

.titulos {
    COLOR: #999999;
    FONT-FAMILY: arial;
    FONT-SIZE: 13 pt;
    FONT-WEIGHT: bold;
    margin-left: 20;
    margin-bottom: 5;
    line-height: 120%
}
.label {
    COLOR: #330066;
    FONT-FAMILY: arial;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    margin-left: 20;
    margin-bottom: 5;
    line-height: 120%
}
.obligatorio {
    COLOR: #330066;
    FONT-FAMILY: arial;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    margin-left: 20;
    margin-bottom: 5;
    line-height: 120%
}

.opcional {
    COLOR: #999999;
    FONT-FAMILY: arial;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    margin-left: 20;
    margin-bottom: 5;
    line-height: 120%
}


.field {
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Verdana,arial,helvetica,sans-serif;
    FONT-SIZE: 10px
}
.campos {
	BACKGROUND-COLOR: #ffffdf;
	BORDER-BOTTOM: #ffffff 1px solid;
	BORDER-LEFT: #ffffff 1px solid;
	BORDER-RIGHT: #ffffff 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	COLOR: #6f6f6f; FONT-FAMILY: arial;
	FONT-SIZE: 12px; FONT-WEIGHT: bold;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: top
}

.input {
	COLOR: #333333;
    FONT-FAMILY: arial;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: left;
	VERTICAL-ALIGN: top
}
.boton {
	BACKGROUND-COLOR: #CCCCCC;
	COLOR: #333333; FONT-FAMILY: verdana;
	FONT-SIZE: 12px; FONT-WEIGHT: bold;
	TEXT-ALIGN: left;
	VERTICAL-ALIGN: top
}

A.MenuSub:link {
    COLOR: #330060;
    FONT-FAMILY: arial;
    FONT-SIZE: 9 pt;
    FONT-WEIGHT: bold;
    text-decoration:none;
}
A.MenuSub:visited {
    COLOR: #330060;
    FONT-FAMILY: arial;
    FONT-SIZE: 9 pt;
    FONT-WEIGHT: bold;
    text-decoration:none;
}
A.MenuSub:active {
    COLOR: #330060;
    FONT-FAMILY: arial;
    FONT-SIZE: 9 pt;
    FONT-WEIGHT: bold;
    text-decoration:none;
}
A.MenuSub:hover {
    COLOR: #330060;
    FONT-FAMILY: arial;
    FONT-SIZE: 9 pt;
    FONT-WEIGHT: bold;
    text-decoration:none;
}

			A.MenuContainer:link{
			{
                                background-color: #9A9376;
				color: #CCCCCC;
    				FONT-FAMILY: arial;
    				FONT-SIZE: 9 pt;
    				FONT-WEIGHT: bold;
				text-decoration:none;
			}
			A.MenuContainer:visited{
                                background-color: #9A9376;
				color: #CCCCCC;
    				FONT-FAMILY: arial;
   				FONT-SIZE: 9 pt;
				FONT-WEIGHT: bold;
				text-decoration:none;
			}
			A.MenuContainer:active{
                                background-color: #9A9376;
				color: #CCCCCC;
    				FONT-FAMILY: arial;
   				FONT-SIZE: 9 pt;
			        FONT-WEIGHT: bold;
				text-decoration:none;
			}
			A.MenuContainer:hover{
                                background-color: #9A9376;
				color: #CCCCCC;
    				FONT-FAMILY: arial;
   				FONT-SIZE: 9 pt;
				FONT-WEIGHT: bold;
				text-decoration:none;
			}
			.MenuContainer{
                                background-color: #9A9376;
				color: #CCCCCC;
    				FONT-FAMILY: arial;
    				FONT-SIZE: 9 pt;
    				FONT-WEIGHT: bold;
				text-decoration:none;
			}
			.SubMenu{
				color: #CCCCCC;
				text-decoration:none;
				display:none;
			}
