<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <swaggerwcf>
    <settings>
      <setting name="Schemes" value="https;http" />
      <setting name="InfoDescription" value="Descripción Servicios DNE" />
      <setting name="InfoVersion" value="0.0.1" />
      <setting name="InfoTermsOfService" value="Terms of Service" />
      <setting name="InfoTitle" value="DNE Service" />
      <setting name="InfoContactName" value="Cinthya Acosta" />
      <setting name="InfoContactUrl" value="http://wwww.inmotion.com" />
      <setting name="InfoContactEmail" value="cacosta@grupoinmotion.com" />
      <setting name="InfoLicenseUrl" value = "https://github.com/abelsilva/SwaggerWCF/blob/master/LICENSE" />
      <setting name="InfoLicenseName" value="Apache License" />
    </settings>
  </swaggerwcf>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General" />
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="AddressPolicy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" />
        </exceptionTypes>
      </add>
      <add name="WCF Exception Shielding">
        <exceptionTypes>
          <add name="FaultException`1" type="System.ServiceModel.FaultException`1[[InMotionGIT.Common.Contracts.Faults.CustomServiceFault, InMotionGIT.Common.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7931fa949d754f28]], System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" />
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add type="InMotionGIT.AddressManager.Service.CustomFaultHandler, InMotionGIT.AddressManager.Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="CustomFaultHandler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <!--<add name="connSeguridad" connectionString="metadata=res://*/Modelo.Seguridad.csdl|res://*/Modelo.Seguridad.ssdl|res://*/Modelo.Seguridad.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=TIME;PASSWORD=Pr0tecDeV;USER ID=SEGURIDAD&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="connDNE" connectionString="metadata=res://*/Modelo.ModeloDNE.csdl|res://*/Modelo.ModeloDNE.ssdl|res://*/Modelo.ModeloDNE.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=TIME;PASSWORD=Pr0tecDeV;PERSIST SECURITY INFO=True;USER ID=DNE&quot;" providerName="System.Data.EntityClient" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <appSettings>
    <!--Tamaños máximos permitidos para subir a la BD. Estos números representan Megabytes-->
    <add key="Image" value="2" />
    <add key="Video" value="10" />
    <add key="Audio" value="4" />
    <add key="Document" value="3" />    
    <add key="Note" value="1" />
    <add key="serverName" value="https://54.226.252.216:44333/" />
    <add key="FASI.URL.Members" value="https://54.226.252.216:8085/FASI/api/Members/v1/" />
    <add key="AllowOrigin" value="*" />
    <!--Extensiones permitidas-->
    <add key="Extensiones.Imagen" value=".JPG|.JPEG|.PNG|.BMP|.GIF" />
    <add key="Extensiones.Video" value=".AVI|.MP4|.WMV" />
    <add key="Extensiones.Sonido" value=".MP3|.WMA|.AWB|.WAV" />
    <add key="Extensiones.Documento" value=".TXT|.DOC|.MSG|.DOCX|.PDF|.XLX|.XLSX|.CSV" />
    <!--Logs-->
    <add key="FrontOffice.Debug" value="True"/>
    <add key="Logs.Prefix" value="DNE" />
    <add key="Path.Logs" value="D:\VisualTIMENet\Temp\logs" />
    <!--Habilitar True/Deshabilitar False SWagger-->
    <add key="SwaggerActive" value="False"/>
    <!--Cliente-->
    <add key="STS.URL" value="https://54.226.252.216:44333" />
    <add key="STS.CompanyId" value="1" />
    <add key="STS.ConsumerId" value="1" />
    <!--Indica si se va a usar un certificado válido o uno autofirmado-->
    <add key="STS.UseOfValidCertificate" value="False" />
    <add key="API.SecurityUsers.URL" value="https://54.226.252.216:8085/SecurityUsers" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-VE" uiCulture="es-VE" />
    <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
		<binding name="BasicBinding_https" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>	  
      <webHttpBinding>
        <binding name="corsBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
        <!-- HTTP -->
        <!--<security mode="None" />-->
		<!-- HTTPS -->
		  <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>   
	</bindings>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" crossDomainScriptAccessEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
    <services>
      <service behaviorConfiguration="corsBehavior" name="InMotionGIT.DatosNoEstruct.Servicio.General.ServicioDNE">
        <endpoint address="bs" binding="basicHttpBinding" bindingConfiguration="BasicBinding_https" contract="InMotionGIT.DatosNoEstruct.Servicio.Interfaces.IServicioDNE" />
        <endpoint address="REST" behaviorConfiguration="corsBehavior" binding="webHttpBinding" bindingConfiguration="corsBinding" contract="InMotionGIT.DatosNoEstruct.Servicio.Interfaces.IServicioDNE" />
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"  />-->
	  </service>
    </services>
    <behaviors>
      <serviceBehaviors>
			<behavior name="corsBehavior">
			  <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
			  <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
			  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
			  <serviceDebug includeExceptionDetailInFaults="true" />
			  <!--<serviceCredentials>
				serviceCertificate findValue="MyWebSite" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
				<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="TestWcfService.CustomLoginValidator, TestWcfService"/>
			  </serviceCredentials>-->
			  <!--Para usar el STS, se debe descomentar la siguiente sección-->
			  <!--<serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="InMotionGIT.DatosNoEstruct.Servicio.AuthorizationManager, InMotionGIT.DatosNoEstruct.Servicio" />-->
			</behavior>      
      </serviceBehaviors>
      <endpointBehaviors>
	  	<behavior name="RESTBehavior">
			<dataContractSerializer maxItemsInObjectGraph="6553600" />
			<webHttp helpEnabled="true" />
		</behavior>
        <behavior name="corsBehavior">
          <!-- Para colocar los servicios de tipo REST con preflight calls, descomentar la siguiente línea -->
          <!-- Adicional colocar el METHOD de la interfaz en "POST" -->
          <webHttp helpEnabled="true" />
          <!-- Para que los cliente puedan hacer llamadas tipo JSONP desactivar la siguiente casilla -->
          <!-- Adicional colocar el METHOD de la interfaz en "GET" -->
          <!--<enableWebScript/>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="9999999" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<!--       <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly> -->
	  <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <!--El elementos Settings y DataSources cumplen la misma función la cual es configurar el Oracle Data Provider para .NET-->
      <settings>
        <setting name="TNS_ADMIN" value="C:\app\client\adminvt\product\12.2.0\client_1\network\admin" />
      </settings>
      <!--<dataSources>    
        <dataSource alias="TIME" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=54.204.16.151)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=VTIMEDEV))) " />
      </dataSources>-->
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>