body {
    background-color: transparent;
}

#page-wrapper {
    background-image: url('/fasi/extend/img/insignia-life-background.jpg') !important;
    /* background-repeat: no-repeat !important; */
    /* background-size: auto !important; */
    /* background-position: center top !important; */
    /* background-color: transparent; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

@media (min-width: 768px) {
    #page-wrapper {
        margin: 0;
    }
}

.ibox-content {
    /*background-color: transparent;
	border-color: transparent;*/
}

.footer {
    background: transparent;
    border-top: 1px solid #676a6c;
}

.insignia-logo {
    height: 95px;
    background-repeat: no-repeat;
    position: relative;
    background-image: url('/images/Logos/logo.png');
}

.container-logo {
    height: 85px;
    background-color: #e52613;
}

.footer {
    text-align: center;
}

label {
    font-weight: bold;
}

.transparency-medium {
    background-color: #ffffffad;
}

.fixed-table-container {
    background-color: #ffffffd4;
}

table > caption {
    font-size: medium;
    letter-spacing: 1px;
    color: inherit;
}

.fixed-table-container thead th .both {
    text-transform: uppercase;
}

.label-header-1 {
    font-size: 20px;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.label-header-3 {
    font-size: 16px;
    margin: 30px 0 17px 0;
    border-bottom: 1px #cacaca solid;
}

.btn-danger {
    background-color: #e52613;
    border-color: #e52613;
    color: #FFFFFF;
}

    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger, .btn-danger:active:focus, .btn-danger:active:hover, .btn-danger.active:hover, .btn-danger.active:focus {
        background-color: #ffffff;
        border-color: #e52613;
        color: #e52613;
    }

.label-normal-weight {
    font-weight: normal;
}

.margin-buttons {
    margin: 25px 0px 30px 0;
}

.no-margin-bottom > div > div > h5.sectionTitle-solid {
    margin-bottom: 0;
    font-size: 16px;
}

div > div > div > h5.sectionTitle-solid {
    font-size: 19px;
}

.main-page-title > div > div > h5.sectionTitle-solid {
    font-size: 21px;
    font-weight: bold;
}
