<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.0"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-VE" uiCulture="es-VE"/>
    <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <bindings>
	  <basicHttpBinding> 
        <binding name="BasicBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicBinding_https" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"  maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
		  <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
	  </basicHttpBinding>
      <webHttpBinding>
        <binding name="corsBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
        <!-- HTTP -->
        <!--<security mode="None" />-->
		<!-- HTTPS -->
		  <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
      <!--<wsHttpBinding>
        <binding name="wsHttpSecure">
          <security mode="Message">
            <message clientCredentialType="UserName"
                     establishSecurityContext="false" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsHttpBinding>-->
    </bindings>
    <services>
	  <!--  HTTP -->
	  <!--<service name="InMotionGIT.PhoneManager.Service.General.PhoneService" behaviorConfiguration="corsBehavior">
        <endpoint address="bs" binding="basicHttpBinding" contract="InMotionGIT.PhoneManager.Service.Interfaces.IPublic"/>
        <endpoint address="" binding="webHttpBinding" contract="InMotionGIT.PhoneManager.Service.Interfaces.IPublic" behaviorConfiguration="corsBehavior" bindingConfiguration="corsBinding"/>
      </service> -->
	  <!-- HTTPS -->
	  <service behaviorConfiguration="corsBehavior" name="InMotionGIT.PhoneManager.Service.General.PhoneService">
        <endpoint address="bs" binding="basicHttpBinding" bindingConfiguration="BasicBinding_https" contract="InMotionGIT.PhoneManager.Service.Interfaces.IPublic"/>
        <endpoint address="" behaviorConfiguration="corsBehavior" binding="webHttpBinding" bindingConfiguration="corsBinding" contract="InMotionGIT.PhoneManager.Service.Interfaces.IPublic"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="corsBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<serviceCredentials>
            serviceCertificate findValue="MyWebSite" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="TestWcfService.CustomLoginValidator, TestWcfService"/>
          </serviceCredentials>-->
          <!--<serviceAuthorization serviceAuthorizationManagerType="InMotionGIT.PhoneManager.Service.AuthenticationManager, InMotionGIT.PhoneManager.Service"/>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="corsBehavior">
          <!-- Para colocar los servicios de tipo REST con preflight calls, descomentar la siguiente linea -->
          <!-- Adicional colocar el METHOD de la interfaz en "POST" -->
          <webHttp helpEnabled="true"/>
          <!-- Para que los cliente puedan hacer llamadas tipo jsonp desactivar la siguiente casilla -->
          <!-- Adicional colocar el METHOD de la interfaz en "GET" -->
          <!--<enableWebScript/>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-99.0.0.0" newVersion="4.122.1.0"/>
        <!--<bindingRedirect oldVersion="2.0.0.0-99.0.0.0" newVersion="2.112.1.0"/>-->
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Language" value="2"/>
    <add key="AllowOrigin" value="*"/>
    <add key="us.dateformat" value="MM/dd/yyyy"/>
    <add key="us.timeformat" value="hh:mm tt"/>
    <add key="es.dateformat" value="dd/MM/yyyy"/>
    <add key="es.timeformat" value="hh:mm tt"/>
    <add key="CountryByDefault" value="58"/>
    <add key="Path.Logs" value="D:\VisualTIMENet\Temp\logs" />
    <add key="Logs.Prefix" value="phone"/>
  </appSettings>
  <connectionStrings>
    <add name="ServiceCommon" connectionString="Data Source=TIME;User ID=COMMON;PASSWORD=Pr0tecDeV" providerName="Oracle.DataAccess.Client"/>
    <add name="ServiceAddress" connectionString="Data Source=TIME;User ID=ADDRESS;PASSWORD=Pr0tecDeV" providerName="Oracle.DataAccess.Client"/>
    <add name="ServicePhone" connectionString="Data Source=TIME;User ID=PHONE;PASSWORD=Pr0tecDeV" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
</configuration>