<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Recordatorio: @@TaskShortDescription@@.</title>
</head>
<body>
    <table>
        <tr>
            <td colspan="3" style="font-weight: bold;">@@FullName@@</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;Recuerde que la siguiente cita, tendra lugar en : @@Lack@@ Minutos</td>
        </tr>
        <tr>
            <td colspan="3">
                <br />
                <table>
                    <tr>
                        <td style="font-weight: bold;font-style: Calibri;">Cita para:&nbsp;&nbsp;&nbsp;</td>
                        <td>@@TaskShortDescription@@</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-style: Calibri;">Inicia el:&nbsp;&nbsp;&nbsp;</td>
                        <td>@@DateStart@@</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-style: Calibri;">Duraci&oacute;n:&nbsp;&nbsp;&nbsp;</td>
                        <td>@@Duration@@</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-style: Calibri;">Ubicaci&oacute;n:&nbsp;&nbsp;&nbsp;</td>
                        <td>@@Location@@</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-style: Calibri;">Organizado por:&nbsp;&nbsp;&nbsp;</td>
                        <td>@@Owner@@</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-style: Calibri;">Nota adicional:&nbsp;&nbsp;&nbsp;</td>
                        <td>@@TaskLongDescription@@</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">Saludos.</td>
        </tr>
    </table>
    <div>
        <img class="fix" src="@@WEBAPPLICATION@@/images/emailtrack.png?id=@@JOBID@@" width="1" height="1" border="0" alt="" />
    </div>
</body>
</html>
