<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="VisualTIMEConfigurationGroup">
      <section name="VisualTIMESection" type="InMotionGIT.Core.Configuration.VisualTIME" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <VisualTIMEConfigurationGroup>
    <VisualTIMESection>
      <Authentification EmailSuffix="@protectasecurity.pe" ForceEmailSuffix="True" SecretQuestionKind="Color" ShowStartUpMessage="false" StartUpMessage="" RegisterVisible="True" InvalidAnswerAttempts="3" LinkLoginOnUrl="~/Authentication/UserLogIn.aspx" LinkChangePasswordUrl="~/Authentication/ChangePassword.aspx" LinkUserProfileUrl="~/Authentication/ProfileInformation.aspx" PasswordRecoveryVisible="True" RememberMeVisible="True" RememberMeDisabled="True" ChangePasswordEnabled="True" ProfileEnabled="True" />
      <Security Mode="DataBase" AdministratorUser="admin" URLAuthentication="/dropthings/Default.aspx"  DefaultRole="PortalUser" AnonymousRole="Anonimo" ClientRole="Cliente" ProducerRole="Productor" UserPasswordExpiration="120" EmployeePasswordExpiration="120" PasswordRotation="False" />
      <Mail Mode="ExchangeService" Host="west.exch083.serverdata.net" Port="0" SupportMail="OnLineServices@inmotiongit.com" CredentialUserName="OnLineServices@inmotiongit.com" CredentialPassword="n0t1ene!" EnableSSL="False" TemplatesPath="D:\VisualTIMENet\WebApplication\templates" />
      <Schedule BeginWorkingTime="08:00:00" EndWorkingTime="17:00:00" BeginVisibleTime="08:00:00" EndVisibleTime="23:00:00" />
      <QueryManager TimeFormat="hh:mm tt" />
      <Release Version="1.1.4.3266" Date="2013-10-29" />
      <General DefaultLanguage="ES" DefaultVersion="LatCombined" DefaultTheme="HorizontalGreen" EnabledFrontOffice="True" EnabledBackOffice="True" EnabledResearch="False" />
    </VisualTIMESection>
  </VisualTIMEConfigurationGroup>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Services" formatter="Text Formatter" log="VisualTIME" machineName="." traceOutputOptions="Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Internal">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <exceptionHandling>
    <exceptionPolicies>
      <add name="Services Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
              <add type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WCF.FaultContractExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WCF, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessageResourceType="" exceptionMessage="The service encountered a internal error. Error Code: {handlingInstanceID}" faultContractType="GIT.Core.Services.ServiceFault, GIT.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=609f10dbc1789ff6" name="Fault Contract Exception Handler">
                <mappings>
                  <add source="{Guid}" name="Id" />
                  <add source="{Message}" name="Message" />
                </mappings>
              </add>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="WCF Exception Shielding">
        <exceptionTypes>
          <add type="System.InvalidOperationException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             postHandlingAction="ThrowNewException"
             name="InvalidOperation">
            <exceptionHandlers>
              <add type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WCF.FaultContractExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WCF"
                 name="DefaultFaultContract Handler"
                 faultContractType="InMotionGIT.Common.Contracts.Faults.ServiceFault, InMotionGIT.Common.Contracts.Faults">
                <mappings>
                  <add name="Id" source="{Guid}" />
                  <add name="Message" source="{Message}" />
                </mappings>
              </add>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>

  <connectionStrings>

    <add name="FrontOfficeConnectionString"    connectionString="Data Source=TIME;User ID=FRONTOFFICE;PASSWORD=Pr0tecDeV;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
    <add name="DesignerWorkbench"              connectionString="Data Source=TIME;User ID=FRONTOFFICE;PASSWORD=Pr0tecDeV;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
    <add name="Workflows"                      connectionString="Data Source=TIME;User ID=FRONTOFFICE;PASSWORD=Pr0tecDeV;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
	<add name="Linked.FrontOffice"             connectionString="Data Source=TIME;User ID=FRONTOFFICE;PASSWORD=Pr0tecDeV;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
	
    <add name="BackOfficeConnectionString"     connectionString="Data Source=TIME;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
    <add name="Linked.LatCombined"             connectionString="Data Source=TIME;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />

    <add name="Service.AgendaConnectionString" connectionString="Data Source=TIME;User ID=AGENDA;Password=Pr0tecDeV;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />

    <add name="Underwriting"                   connectionString="Data Source=(LOCAL)\SQLFRONTOFFICE;Initial Catalog=Services;User ID=INSUDB;Password=Pr0tecDeV" providerName="System.Data.SqlClient" />
    <add name="Linked.Underwriting"            connectionString="Data Source=(LOCAL)\SQLFRONTOFFICE;Initial Catalog=Services;User ID=INSUDB;Password=Pr0tecDeV" providerName="System.Data.SqlClient" />

    <add name="Linked.Common"                  connectionString="Data Source=TIME;User ID=COMMON;PASSWORD=Pr0tecDeV"  providerName="Oracle.DataAccess.Client" />
    <add name="Linked.Address"                 connectionString="Data Source=TIME;User ID=ADDRESS;PASSWORD=Pr0tecDeV" providerName="Oracle.DataAccess.Client" />
    <add name="Linked.Phone"                   connectionString="Data Source=TIME;User ID=PHONE;PASSWORD=Pr0tecDeV"    providerName="Oracle.DataAccess.Client" />
	<add name="Linked.Seguridad"               connectionString="Data Source=TIME;User ID=SEGURIDAD;PASSWORD=Pr0tecDeV" providerName="Oracle.DataAccess.Client" />
    <add name="Linked.DNE"                     connectionString="Data Source=TIME;User ID=DNE;PASSWORD=Pr0tecDeV" providerName="Oracle.DataAccess.Client" />
	<add name="Linked.Client"                  connectionString="Data Source=TIME;User ID=CLIENT;PASSWORD=Pr0tecDeV" providerName="Oracle.DataAccess.Client" />
    
  </connectionStrings>

  <appSettings>

	  <add key="InMotionGIT.Scheduler.ServerIP"  value="localhost"/> 	
    <!--BackOffice Services-->
      <!-- Ruta usada para almacenar los archivo de cache -->
      <add key="Path.Cache" value="D:\VisualTIMENet\temp\Cache" />
      <!-- Development, Quality, Production -->
      <add key="Working.Mode" value="Development" />
      <!-- Options: Policy.Setup,Policy.CoverageRating,Policy.Load / None,None,None -->
      <add key="Track.Mode" value="None,None,None" />
      <!-- None, OnDemand, FullCaching -->
      <add key="Product.Rating.Cache.Mode" value="None" />
      <!-- Create, Load, Create/Load -->
      <add key="Cache.Mode" value="None/None" />
    <!--End BackOffice Services-->
    
    <!--Frontoffice Trace/Log/Errors-->
      <!-- Ruta usada para almacenar los archivo generado por el llamado a traza, error, warnings usando la clase LogHandler -->
      <add key="Path.Logs" value="D:\VisualTIMENet\Temp\logs" />
      <!-- Habilita (True) o no (False) la creación de traza en el código -->
      <add key="FrontOffice.Debug" value="False"/>
      <!-- Habilita (True) o no (False) la creación de traza por cual quien acceso a datos por medio de la libreria DataAccessLayer -->
      <add key="DataAccessLayer.Debug" value="False" />
      <!-- Indica si la traza solo se debe hace en disco (File) o si adicionalmente se hara en la base de de datos -->
      <add key="FrontOffice.Debug.Mode" value="File"/>
      <!-- Prefijo utilizado en los archivos creados para manejo de log de errores, trazas o advertencias. -->
      <add key="Logs.Prefix" value="agenda"/>	  
    <!--End Frontoffice Trace/Log/Errors-->

    <!--Frontoffice DataAccess-->
		<!-- Permite habilitar el modo de ejecución del servicio de datos, 'Local' para ejecutar de forma directa o 'Remote' para ejecutar por medio de webservice -->
		<add key="DataManager.Mode" value="Local" />
		<add key="Core.Mapper" value="BackOfficeConnectionString,Linked.LatCombined" />
	
		<add key="Linked.FrontOffice.DateFormat" value="MM/dd/yyyy" />
		<add key="Linked.FrontOffice.Owner" value="dbo." />
		<add key="Linked.LatCombined.DateFormat" value="dd/MM/yyyy" />
		<add key="Linked.LatCombined.Owner" value="" />
		<add key="Linked.Underwriting.DateFormat" value="MM/dd/yyyy" />
		<add key="Linked.Underwriting.Owner" value="dbo." />
    <!--End Frontoffice DataAccess-->    
	
    <!--Security Encryptions-->
    <add key="Security.Key" value="FD109115ABDA0FCA1A623D1B016BA909" />
    <!--128/192/256-->
    <add key="Security.Size" value="128" />
    <!--Multi CIA-->

    <add key="BackOffice.IsMultiCompany" value="True" />
    <add key="BackOffice.CompanyDefault" value="1" />
    <add key="ScriptVersionNo" value="10" />
    <add key="GeneralExceptionUnhandled" value="False" />
    <add key="WebApplicationPath" value="D:\VisualTIMENet\WebApplication" />
    <add key="AssemblyPath" value="D:\VisualTIMENet\WebApplication\Bin" />
    <add key="ErrorsPath" value="D:\VisualTIMENet\WebApplication\Errors" />
    <add key="GeneratePath" value="D:\VisualTIMENet\WebApplication\generated" />
    <add key="WidgetsPath" value="D:\VisualTIMENet\WebApplication\dropthings\widgets" />
    <add key="WidgetsImagePath" value="D:\VisualTIMENet\WebApplication\images\dropthings" />
    <add key="WidgetsImageBackOfficePath" value="D:\VisualTIMENet\WebApplication\images\BackOfficeMenu" />
    <add key="RepositoryPath" value="D:\VisualTIMENet\WebApplication\repository" />

    <add key="BackOfficeConnectionString.Owner" value="INSUDB." />
    <add key="BackOfficePath" value="VTimeNet" />
    <add key="BackOfficeMenuPath" value="True" />
    <add key="DefaultPageLayoutType" value="3" />
    <add key="MenuImagesExtensionModule" value="gif" />
    <add key="MenuImagesExtension" value="gif" />
    <add key="Logging" value="False" />
    
    <add key="Path.Images" value="D:\VisualTIMENet\WebApplication\images" />
    <add key="Path.Extensions" value="D:\VisualTIMENet\Extensions" />
    <add key="Path.Uploads" value="D:\VisualTIMENet\Temp\Uploads" />
    <add key="Url.WebApplication" value="https://54.226.252.216" />
    <add key="Url.BackOffice" value="" />
    <add key="Url.Form" value="/generated" />
    <add key="Url.Uploads" value="/Uploads" />
    <add key="Generate.DummyAssembly" value="True" />

    <add key="Path.Workbench.Synch" value="D:\VisualTIMENet\WorkbenchSynch" />
 
    <!-- BackOffice Options -->
    <add key="BackOfficeDelay" value="500" />
    <add key="BackOfficeExtraDelay" value="1000" />
    <add key="BackOfficeConfigurationFile" value="D:\VisualTIMENet\Configuration\VisualTIMEConfig.xml" />
    <add key="BackOffice.Path.Report" value="D:\VisualTIMENet\WebApplication\VTimeNet\reports" />

    <!-- Country Options: Oficial, Chile -->
    <add key="CountryName" value="Chile" />
    <!-- CountryCode Options: 56 -->
    <add key="CountryCode" value="56" />

    <!-- Clients Options: -->
    <add key="ClientName" value="Oficial" />

    <add key="Nationality.Default" value="1" />
    <add key="AuditUserIdentify" value="1502" />

    <add key="WorkflowRuntime.Mode" value="Local" />

  </appSettings>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
  	<modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" />
      </requestFiltering>
    </security>
	<directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-99.0.0.0" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MyBasicHttpBinding" maxReceivedMessageSize="4194304">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
          <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
          </security>-->
        </binding>
        <binding name="BasicBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="9000000" maxBufferPoolSize="9000000" maxReceivedMessageSize="9000000"  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
		<binding name="BasicBinding_https" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"  maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
		  <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
	  <webHttpBinding>
        <binding name="corsBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
        <!-- HTTP -->
        <!--<security mode="None" />-->
		<!-- HTTPS -->
		  <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <!--<binding name="wsHttpSecure">
          <security mode="Message">
            <message clientCredentialType="UserName"
                     establishSecurityContext="false" algorithmSuite="Default" />
          </security>
        </binding>-->
        <!--Binding de canal seguro -->
        <binding name="wsHttpEndpointBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
	  <!-- HTTP -->
      <!-- <endpoint address="http://localhost:8082/FrontOffice/EventLogManagerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="EventLogClient.IManager" name="EventLogManagerEndPoint" /> -->
      <!-- HTTPS -->
	  <endpoint address="https://54.226.252.216:8085/FrontOffice/EventLogManagerService.svc/bs" binding="basicHttpBinding" bindingConfiguration="BasicBinding_https" contract="EventLogClient.IManager" name="EventLogManagerEndPoint" />
	</client>
    <services>
	  <!-- HTTPS --> 
      <service behaviorConfiguration="httpsServiceBehavior" name="InMotionGIT.Agenda.Services.TaskManagerService"> 
        <endpoint address="bs" binding="basicHttpBinding" bindingConfiguration="BasicBinding_https" contract="InMotionGIT.Agenda.Services.Interfaces.ITaskManagerService"/>
		<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
	  <!-- HTTP -->
<!-- 	  <service behaviorConfiguration="GenericServiceBehavior" name="GIT.Agenda.Service.TaskManagerService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBasicHttpBinding" contract="GIT.Agenda.Service.ITaskManagerService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service> -->
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="corsBehavior">
          <!-- Para colocar los servicios de tipo REST con preflight calls, descomentar la siguiente linea -->
          <!-- Adicional colocar el METHOD de la interfaz en "*" -->
          <!-- <webHttp helpEnabled="true" /> -->
          <!-- Para que los cliente puedan hacer llamadas tipo jsonp desactivar la siguiente casilla -->
          <!-- Adicional colocar el METHOD de la interfaz en "GET" -->
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="GenericServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--Service Behaviors para canal seguro-->
        <behavior name="httpsServiceBehavior">
          <serviceMetadata  httpsGetEnabled="true" httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate findValue="54.226.252.216"  x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My" />
          </serviceCredentials>
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information,
            set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes,
            set the value below to true.  Set to false before deployment
            to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	<serviceHostingEnvironment multipleSiteBindingsEnabled="true" /> 
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "D:\GITServices\oracle\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <system.web>
    <machineKey validationKey="80BA1020F80B8AE07A5E6331DA55255F744607E0CB511BD55A662D90F66A42562E9C17DA3380D5A1864D99BEDC30318F03D60A1A1E2E8E2373794571ABA09339" decryptionKey="868A7C1896B47F412B9A794313CF2DD4E7A04D4BA65D2E33" validation="SHA1" />
    <compilation debug="false" />

    <anonymousIdentification enabled="true" />

    <globalization requestEncoding="utf-8"
                 responseEncoding="utf-8"
                 culture="es-VE"
                 uiCulture="es-VE" />

    <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536" />
  </system.web>
</configuration>