<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="disableSourceControlIntegration" value="true" />
        <!-- Publish feed Versión Oficial -->
        <add key="defaultPushSource" value="http://18.188.26.180:8083/nuget" />
        <!-- Clear the global settings of the computer, used for build server. -->
        <clear />        
    </config>

    <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />
        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>

    <!--
        Used to specify the default Sources for list, install and update.
        See: nuget.exe help list
        See: nuget.exe help install
        See: nuget.exe help update
    -->
    <add key="Repositorio de Productos" value="http://40.117.79.124:35008/nuget" />
        <add key="Repositorio de Versiones Oficiales" value="http://18.188.26.180:8083/nuget" />
    <!-- Used to store credentials -->
    <packageSourceCredentials />

    <!-- Used to disable package sources  -->
<!--
        Used to specify default API key associated with sources.
        See: nuget.exe help setApiKey
        See: nuget.exe help push
        See: nuget.exe help mirror 
    -->
    <!--
    <apikeys>
        <add key="https://MyRepo/ES/api/v2/package" value="encrypted_api_key" />
    </apikeys>
    -->
</configuration>
